# URL of your slskd instance
# Docker example:
# SLSKD_URL=http://slskd:5030
#
# Local installation:
# SLSKD_URL=http://localhost:5030
#
# Remote server:
# SLSKD_URL=http://192.168.1.100:5030
SLSKD_URL=http://slskd:5030

# slskd API key
SLSKD_API_KEY=YOUR_API_KEY

# Check interval (seconds)
CHECK_INTERVAL=60

# Seconds to wait before evaluating a downloader
GRACE_PERIOD=120

# Minimum sharing requirements
MIN_FILES=1000
MIN_DIRECTORIES=20
